apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: development
resources:
- ../../base
- sealed-secret.yaml

patches:
  - target:
      kind: Deployment
      name: octopub-audit-deployment
    path: octopub-audits-deployment-mysql.yaml
  - target:
      kind: Service
      name: octopub-audit-cluster-ip
    path: octopub-audits-service-mysql.yaml
  - target: 
      kind: Ingress
      name: octopub-ingress
    path: octopub-ingress.yaml
  - target:
      kind: Service
      name: octopub-products-deployment
    path: octopub-products-deployment-mysql.yaml
  - target:
      kind: Deployment
      name: octopub-products-service
    path: octopub-products-service-mysql.yaml
  - target:
      kind: Service
      name: octopub-frontend-cluster-ip
    path: octopub-frontend-service.yaml
  - target:
      kind: Deployment
      name: octopub-frontend-deployment
    path: octopub-frontend-deployment.yaml

configMapGenerator:
  - name: service-env-vars
    behavior: merge
    env: variables.properties

images:
  - name: octopussamples/octopub-audit-microservice-mysql
    newName: twerthi/octopub-audit-microservice-mysql
    newTag: 0.1.96
  - name: octopussamples/octopub-products-microservice-mysql
    newName: twerthi/octopub-products-microservice-mysql
    newTag: 0.2.36-add-multi-arch.18
  - name: octopussamples/octopub-frontend
    newName: twerthi/octopub-frontend
    newTag: 0.1.96
